.main-grid {
  background-image: url("../images/terms-background.png");
}
/*
<section scrumbs>
 */
.section-scrumbs ul li a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}
/*
</section>
*/