* {
    box-sizing: border-box;
}

body {
    color:#fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.0;
}

.gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    /*
    repeat auto-fill deja huecos en la fila si no hay suficiente cajas
    auto-fit fueza el ancho de las cajas para que ocupe toda la fila 
    siempre y cuando solo haya una fila
    
    repeat(auto-fill, minmax(15rem, 1fr));
    */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.featured {

}

.card {
    overflow: hidden;
    padding: 1rem;
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.3rem rgb(0, 0, 0, 0.4);
    color: #333;
}