body{
    font: 1.5rem sans-serif;
    background-color: rgba(0,0,0,.1);
    color: white;
}
.grid-item{
    padding: 1.5rem;
}
.grid-item:nth-child(2n){
    background-color: #42a5f5;
}
.grid-item:nth-child(2n+1){
    background-color: #ff80ab;
}
.grid{
    padding: 1rem;
}
/*****************************/
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .3rem;
}
.item2 {
    grid-column: span 3;
    grid-row: span 2;
}