body{
    background-color: rgba(0,0,0,.1);
    font: 1.1rem sans-serif;
    text-transform: uppercase;
    color: white;
}
.grid{
    padding: 1rem;
}
.grid-item{
    padding: 1.5rem;
    border-radius: .3rem;
    background-color: #E92763;
}
/*****************************/
.grid{
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-template-rows: minmax(4rem, auto) 400px minmax(4rem, auto);
}

.header {
    grid-column: span 3;
}
.sidebar {
    grid-column: 1;
}
.main {
    grid-column: span 2;
}
.footer {
    grid-column: 1/span 4;
}