.container {
    background-color: #303030;
    color: #ACB4B4;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
}

.nav--main ul {
    margin:0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

}
.nav--main ul li a{
    text-decoration: inherit;
    color: inherit;

}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, minmax(0.5fr, 1fr));
    grid-auto-rows: minmax(5rem, 1fr);
}