root {
    --color-white: #fff;
    --color-clear-blue: #00C6FB;
    --color-dark-blue: #005EEA;
    --color-dark-blue-2: #1766DC;
    --color-clear-black: #303030;
    --color-yellow: #FFFF00FF;
    --color-black: #000;
    --color-orange: #E65C00;
    --color-green-alpha: rgba(0,255,0,0.36);
    --color-black-alpha: rgba(0,0,0,0.36);
    --color-clear-green: #9ACD32FF;
    --color-clear-green-palpha: rgba(159, 252, 6, 1);
    --color-clear-orange: #FFA500FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');
body {
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
}

a {
    text-decoration: underline;
    color: #fff;
    text-underline-offset: 2px;
}
a:link, a:visited {
    color: #fff;
}
a:hover {
    color: #00c6fb;
}

.div-totop {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: none;
    z-index: 2;
}
.div-totop a {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}