* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');
body {
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
}

a {
    text-decoration: underline;
    color: #fff;
    text-underline-offset: 2px;
}
a:link, a:visited {
    color: #fff;
}
a:hover {
    color: #00c6fb;
}