@import "global.css";

.main-grid {
  color: #FFF;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
  "area-nav"
  "area-scrumbs"
  "area-textbox";
  min-height: auto;
  background-image: url("./images/terms-conditions-bg.png");
  background-size:     cover;
  background-position: top center;
  background-repeat:   no-repeat;
}

.center-x {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.div-wave-top {
  overflow: hidden;
  grid-area: area-nav;
  align-self: start;
  height: 60px;
  z-index: 1;
}
/*
<nav>
*/
.nav-grid {
  //border: 5px solid purple;
  grid-area: area-nav;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
  height: 90px;
  z-index: 1;
}

.nav-list-ul {
  list-style: none;
  display:grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.nav-li-item {
  padding: 5px;
}

.nav-li-item-active {
  background:  #303030;
  border-radius: 5px;
}

.nav-li-item-a {
  color: #FFF;
  text-decoration: none;
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: 300;
}

.nav-menu-figure {
  display: none;
}

.nav-icon {
  width: 30px;
}

#chk-hamburguer {
  display: none;
}

.label-hamburger {
  display: none;
  font-size: 1.8rem;
  padding-right: 1rem;
  color: #FFF;
}
/*
</nav>
<section scrumbs>
</section>
*/
.section-scrumbs {
  grid-area: area-scrumbs;
}
/*
</section>
<section text-container>
*/
.section-grid {
  grid-area: area-textbox;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
  padding-top: 15px;
  align-items: center;
  z-index: 2;
  -webkit-box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  opacity: 0.9;
}

.div-texts {
  background-color: #FFF;
  border: 1px solid blue;
  color: #303030;
  border-radius: 5px;
  -webkit-box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  padding: 10px;
}

.div-texts .text-h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  color: yellow;
}

.div-texts p{
  font-size: 1.25rem;
  padding-top: 1em;
}

.text-p-subtitle {
  margin-bottom: 1rem;
  font-size: 2rem !important;
  font-style: italic;
  color: #000;
}
/*
</section>
*/

/*
<footer>
*/
.footer-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #303030;
  align-items: center;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 1;
}

.footer-flex .item {
  padding: 5px;
}

.footer-flex .item-logo {
  padding-left: 1rem;
}

.item-logo img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  padding-right: 3px;
  max-height: 25px;
}

.item-logo a {
  text-decoration: none;
}

.footer-flex .ul-links-flex {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

.ul-links-flex li {
  text-align: center;
}

.footer-flex .ul-social-flex {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  padding-right: 1rem;
}

.ul-social-flex li {
  text-align: center;
}

/*
<div>
*/
/*
<section class="section-animated-bg">
*/
.section-animated-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.ul-circles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ul-circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(159, 252, 6, 1);
  animation: keyframe-bg-circles 25s normal infinite;
  bottom: -150px;
}

.ul-circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background: orange;
}

.ul-circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: yellow;
}

.ul-circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background: orange;
}

.ul-circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background: #00c6fb;
}

.ul-circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: #005bea;
}

.ul-circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background: black;
}

.ul-circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.ul-circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: #E65C00;
}

.ul-circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  background: white;
}

.ul-circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: yellow;
}

@keyframes keyframe-bg-circles {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-5000px) rotate(720deg);
    opacity: 0.5;
    border-radius: 100%;
  }
}
/*
</section>
*/

@media (max-width: 800px) {
  .nav-list-ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #303030;
    width: 80%;
    left:-100%;
    font-size: 1rem;
    transition: .5s all ease;
    text-align: center;
    align-items: center;
    grid-auto-rows: 75px;
    /*
    corrige que home se superponga con la cabecera
    */
    padding-top: 30px;
  }
  .nav-list-ul li{
    width: 90%;
  }

  .nav-list-ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    /*si no hago esto el link que esta debajo del p, se superpone sobre p*/
    font-weight: 500;
    transition: background-color .3s;
    display: block;
  }

  .nav-list-ul li a:hover{
    background-color: #FFF;
    color: #1766DC;
  }

  .nav-menu-figure {
    display: block;
  }

  .label-hamburger {
    display: block;
  }

  /*
  ~ el ul siguiente inmediato al checkbox:checked
  */
  #chk-hamburguer:checked~.nav-list-ul{
    left: 0;
    display: flex;
    flex-direction: column;
  }
  /*
  el label inmediato al checkbox
  */
  #chk-hamburguer:checked~.label-hamburger figure img {
    content: url("./images/close-icon.svg");
  }

  .section-grid {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    /*
    alinear todo el contenido al centro
    */
    text-align: center;
  }
  .figure-jumbo {
    grid-row: 1/2;
  }
  .figure-img-jumbo {
    max-width: 500px;
    display: block;
    /*
    centre la imagen horizontalmente
    */
    margin: 0 auto;
  }
  .footer-flex {
    flex-direction: column-reverse;
  }
  .footer-flex .item {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footer-flex .item-social {
    padding-top: 10px;
  }
  .dialog {
    height: 2500px;
  }
}