@import "global.css";

.center-x {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.main-grid {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
  "area-nav"
  "area-scrumbs"
  "area-textbox";
  min-height: auto;
  background-image: url("./images/terms-background.png");
  background-size:     cover;
  background-position: top right;
  background-repeat:   no-repeat;
}

.div-wave-top {
  overflow: hidden;
  grid-area: area-nav;
  align-self: start;
  height: 60px;
  z-index: 1;
}
/*
<nav>
*/
.nav-flex {
  grid-area: area-nav;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  padding: 5px 0 5px 0;
}

.nav-flex figure img {
  padding: 3px;
  max-width: 150px;
  max-height: 90px;
  background-color: #303030;
  border-radius: 5px;
}

/*
</nav>
<section scrumbs>
*/
.section-scrumbs {
  grid-area: area-scrumbs;
  z-index: 1;
}

.section-scrumbs ul {
  display: flex;
  list-style: none;
}
.section-scrumbs ul li+li:before {
  padding: 8px;
  color: #303030;
  content: "/\00a0";
}

.section-scrumbs ul li a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
.section-scrumbs ul li a:hover {
  color: yellow;
  text-decoration: underline;
}

/*
</section>
<section text-container>
*/
.section-grid {
  grid-area: area-textbox;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  padding-bottom: 20px;
  padding-top: 15px;
  align-items: center;
  z-index: 2;
  -webkit-box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  opacity: 0.9;
}

.section-grid .div-texts {
  background-color: #FFF;
  border: 2px solid #1bb4bf;
  color: #303030;
  border-radius: 5px;
  -webkit-box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  box-shadow: 0px 14px 5px -10px rgba(0,0,0,0.36);
  padding: 10px;
}

.section-grid .div-texts h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #303030;
  padding: 3px 0 3px 0;
  text-align: center;
}

.section-grid .div-texts h2 {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.section-grid .div-texts h3 {
  padding-top: 1rem;
  font-size: 1.05rem;
}

.section-grid .div-texts p{
  padding-top: 1rem;
}
/*
</section>

<footer>
*/
.footer-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #303030;
  align-items: center;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 1;
}

.footer-flex .item {
  padding: 5px;
}

.footer-flex .item-logo {
  padding-left: 1rem;
}

.item-logo img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  padding-right: 3px;
  max-height: 25px;
}

.item-logo a {
  text-decoration: none;
}

.footer-flex .ul-links-flex {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

.ul-links-flex li {
  text-align: center;
}

.footer-flex .ul-social-flex {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  padding-right: 1rem;
}

.ul-social-flex li {
  text-align: center;
}

/*
</footer>

<section class="section-animated-bg">
*/
.section-animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.section-animated-bg .ul-circles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-animated-bg .ul-circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(159, 252, 6, 1);
  animation: keyframe-bg-circles 25s normal infinite;
  bottom: -150px;
}

.section-animated-bg .ul-circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 25s;
  background: orange;
}

.section-animated-bg .ul-circles li:nth-child(2){
  left: 10%;
  width: 110px;
  height: 110px;
  animation-delay: 50s;
  animation-duration: 50s;
  background: yellow;
}

.section-animated-bg .ul-circles li:nth-child(3){
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 10s;
  background: orange;
}

.section-animated-bg .ul-circles li:nth-child(4){
  left: 40%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 25s;
  background: var(--color-clear-blue);
}

.section-animated-bg .ul-circles li:nth-child(5){
  left: 65%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  background: #005bea;
}

.section-animated-bg .ul-circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 10s;
  background: black;
}

.section-animated-bg .ul-circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 15s;
}

.section-animated-bg .ul-circles li:nth-child(8){
  left: 50%;
  width: 75px;
  height: 75px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: #E65C00;
}

.section-animated-bg .ul-circles li:nth-child(9){
  left: 20%;
  width: 45px;
  height: 45px;
  animation-delay: 2s;
  animation-duration: 35s;
  background: var(--color-white);
}

.section-animated-bg .ul-circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 60s;
  background: yellow;
}

@keyframes keyframe-bg-circles {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-5000px) rotate(720deg);
    opacity: 0.5;
    border-radius: 100%;
  }
}
/*
</section animated>
*/

@media (max-width: 800px) {
  .main-grid {
    background-position: top left;
  }

  .section-grid {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    padding-bottom: 10px;
  }

  .section-grid .div-texts h1 {
    font-size: 2rem;
    letter-spacing: normal;
  }

  .footer-flex {
    flex-direction: column-reverse;
  }
  .footer-flex .item {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footer-flex .item-social {
    padding-top: 10px;
  }
  .dialog {
    height: 2500px;
  }
}