@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
	font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

:root{
  --main-blue:#1766DC;
  --main-blue-2:#2366C9;
  --main-white:#f2f2f2;
}

.formwrapper {
  padding: 0.25rem;
  border: 1px solid var(--main-white);
}

form .fm-field-group {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.fm-field-group.fg-row {
  flex-direction: row;
}

.fg-label {
  justify-content: space-around;
  margin: 1%;
  background: red;
  border: 1px solid blue;
  box-sizing: border-box;
  height: 160px;
  width: 48%;
}

.fg-input {
  justify-content: space-around;
  margin: 1%;
  background: red;
  border: 1px solid blue;
  box-sizing: border-box;
  height: 160px;
  width: 48%;
}



@media (max-width:1399.98px){
  /*to-do*/
}

@media (max-width:991.98px){
  body {
    font-size: 15px;
  }
}

@media (max-width:767.98px){
  body {
    font-size: 14px;
  }
}

@media (max-width:575.98px){
  body {
    font-size: 13px;
  }
}


