body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    margin:0;
    padding: 0;
}
.container {
    overflow: hidden;
}

.nav {
    background: deepskyblue;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    width: 100%;
    height: 4rem;
    margin:auto;
    align-items: center;
}

nav label {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    padding: 1.5rem;
    color: #fff;
    transition: .5s all ease;
}

.nav ul li a:hover {
    color: black;
    background: #fff;
    cursor:pointer;
}

#chk-hamburguer {
    display: none;
}
.hamburger {
    display: none;
    font-size: 1.8rem;
}

@media(max-width: 960px) {
    .hamburger {
        display: block;
        z-index: 2;
    }

    .nav ul {
        display: grid;
        position: fixed;
        top: 110px;
        height: 100vh;
        background-color: white;
        width: 100%;
        left:-100%;
        font-size: 1rem;
        transition: .5s all ease;
        text-align: center;
    }

    .nav ul li a {
        color: deepskyblue;
    }

    .nav ul li a:hover{
        color: #ff3f99
    }

    /*
    ~ todos los elementos ul precedidos por chk-hamburger:checked
    */
    #chk-hamburguer:checked~ul{
        left: 0;
    }
    #chk-hamburguer:checked~.hamburger i:before {
        content: "\f00d";
    }
}