body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.main-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-grid {
  display: grid;
  row-gap: 1rem;
}

.form-grid .cell-flex {
  display: flex;
}
