* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.main-flex {
  min-height: 92vh;
}

.main-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-grid {
  display: grid;
  row-gap: .5rem;
}

.form-grid .cell-flex {
  display: flex;
}

.cell-flex label {
  min-width: 4.8rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  font-weight: bold;
}

input, textarea, select {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid deepskyblue;
}
input[type=date] {
  width: 8rem;
}

select {
  width: 21rem;
}

textarea {
  height: 3rem;
}

input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

input[type=checkbox] ~ label {
  max-width: 25rem;
  font-weight: normal;
}