* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');
body {
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  color: white;
  display: grid;
  /*
  max-content indica que la altura maxima sera la que indique su contenido
  */
  grid-template-rows: max-content 1fr;
  grid-template-areas:
   "nav"
  "content";
}

.nav {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
  height: 90px;
}

.nav-list {
  list-style: none;
  display:grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: none;
}